body {
    background-image: url("../images/soccerfiel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Lato;
    color: white;
}
html {
    height: 100%;
}

#content {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10px;
    color: white;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}
h1 {
    font-weight: 700;
}
hr {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 300px;
    background-color: white;
}

.btn {
    width: 200px;
}

.display-1 {
    text-transform: uppercase;
}

span {
    color: #ef233c;
}

.juega,
.gana {
    font-weight: 600;
}

/* */
@media only screen and (max-width: 576px) {
    #tecoSize {
        font-size: 3.5rem;
        padding-top: 45%;
    }
}

@media only screen and (min-width: 721px) {
    #tecoSize {
        /*font-size: 3.5rem;*/
        padding-top: 15%;
    }
}

@media only screen and (min-width: 1200px) {
    #tecoSize {
        padding-top: 25%;
    }
}
